<html lang="ru">
{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Medic Clinic</h1>
            <p class="lead">Your health is our priority. Explore our range of medical services and find the care you
                need.</p>
        </div>

        <section class="mt-5">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">General Check-up</h5>
                            <p class="card-text">Comprehensive health check-up for early detection of health issues.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Specialist Consultation</h5>
                            <p class="card-text">Consult with our expert specialists for specialized medical advice.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Emergency Services</h5>
                            <p class="card-text">24/7 emergency services to handle any medical emergencies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Call to Action -->
        <div class="text-center mt-5">
            <a href="{% url 'main:service-list' %}" class="btn btn-primary btn-lg">Check in</a>
        </div>
    </div>
{% endblock %}
