<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    <html lang="en">
    <body>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h1 class="card-title">{{ service.name }}</h1>
            <p class="card-text">Описание: {{ service.description }}</p>
            <p class="doctor-name">Доктор: {{ service.doctor.name }}</p>
            <div class="button-container">
                <a href="{% url 'main:service-update' pk=service.pk %}" class="button">Изменить</a>
                <a href="{% url 'main:service-delete' pk=service.pk %}" class="button">Удалить</a>
                <a href="{% url 'patients:appointment' %}" class="button">Записаться</a>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>
